.header {
    height: 64px;
    width: 100%;
    font-size: 20px;
    font-weight: bold;
    display: flex;
    align-items: center;

    padding: 0 20px;
    border-bottom: 1px solid #E5E5E5;
}

.header-item {
    align-items: center;
}

.header-item+.header-item {
    padding-left: 9px;
}